<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main>
        <h1>Edit <%= rig.name%></h1>
        <div class="rig-new d-flex flex-row col col-9 shadow justify-content-center">
        <section class="col-12 d-flex flex-wrap flex-column">
            <form action="/rigs/<%=rig._id%>?_method=PUT" method="POST" class="d-flex flex-row flex-wrap">
                <div class="col col-6 px-2 py-2">
                    <input type="text" class="form-control my-2" name="name" value="<%=rig.name%>" placeholder="Name">
                    <input type="text" class="form-control my-2" name="frame" value="<%=rig.frame%>" placeholder="Frame">
                    <input type="text" class="form-control my-2" name="fork" value="<%=rig.fork%>" placeholder="Fork">
                    <input type="text" class="form-control my-2" name="rims" value="<%=rig.rims%>" placeholder="Rims">
                    <input type="text" class="form-control my-2" name="hubs" value="<%=rig.hubs%>" placeholder="Hubs">
                    <input type="text" class="form-control my-2" name="tires" value="<%=rig.tires%>" placeholder="Tires">
                    <input type="text" class="form-control my-2" name="handlebars" value="<%=rig.handlebars%>" placeholder="Handlebars">
                    <input type="text" class="form-control my-2" name="headset" value="<%=rig.headset%>" placeholder="Headset">
                    <input type="text" class="form-control my-2" name="crankset" value="<%=rig.crankset%>" placeholder="Crankset">
                    <input type="text" class="form-control my-2" name="pedals" value="<%=rig.pedals%>" placeholder="Pedals">
                </div>
                <div class="col col-6 px-2 py-2">
                    <input type="text" class="form-control my-2" name="cassette" value="<%=rig.cassette%>" placeholder="Cassette">
                    <input type="text" class="form-control my-2" name="derailleur" value="<%=rig.derailleur%>" placeholder="Derailleur">
                    <input type="text" class="form-control my-2" name="brakes" value="<%=rig.brakes%>" placeholder="Brakes">
                    <input type="text" class="form-control my-2" name="shifters" value="<%=rig.shifters%>" placeholder="Shifters">
                    <input type="text" class="form-control my-2" name="saddle" value="<%=rig.saddle%>" placeholder="Saddle">
                    <input type="text" class="form-control my-2" name="seatpost" value="<%=rig.seatpost%>" placeholder="Seatpost">
                    <input type="text" class="form-control my-2" name="stem" value="<%=rig.stem%>" placeholder="Stem">
                    <input type="text" class="form-control my-2" name="frontbag" value="<%=rig.frontbag%>" placeholder="Front Bag">
                    <input type="text" class="form-control my-2" name="framebag" value="<%=rig.framebag%>" placeholder="Frame Bag">
                    <input type="text" class="form-control my-2" name="rearbag" value="<%=rig.rearbag%>" placeholder="Rear Bag">
                </div>
                <div class="col col-12 px-2 mb-4">
                    <input type="text" class="form-control my-2" name="img" value="<%=rig.img%>" placeholder="Image URL">
                    <input type="submit" class="btn btn-warning btn-large shadow mx-2 px-5" value="Update Rig">
                </div>
                </form>
        </section>
        </div>
    </main>
    <!---------footer/animation---------> 
    <%- include('../partials/footer.ejs')%>
    <!---------footer/animation--------->  
</body>
</html>