<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main>
        <h1>Edit <%= rig.name%></h1>
        <div class="rig-new d-flex flex-row col col-9 shadow justify-content-center">
        <section class="col-12 d-flex flex-wrap flex-column">
            <form action="/rigs/<%=rig._id%>?_method=PUT" method="POST" class="d-flex flex-row flex-wrap">
                <div class="col col-6 px-2 py-2">
                    <input type="text" id="typeText" class="form-control my-2" name="name" placeholder="<%=rig.name%>">
                    <input type="text" id="typeText" class="form-control my-2" name="frame" placeholder="<%=rig.frame%>">
                    <input type="text" id="typeText" class="form-control my-2" name="fork" placeholder="<%=rig.fork%>">
                    <input type="text" id="typeText" class="form-control my-2" name="rims" placeholder="<%=rig.rims%>">
                    <input type="text" id="typeText" class="form-control my-2" name="hubs" placeholder="<%=rig.hubs%>">
                    <input type="text" id="typeText" class="form-control my-2" name="tires" placeholder="<%=rig.tires%>">
                    <input type="text" id="typeText" class="form-control my-2" name="handlebars" placeholder="<%=rig.handlebars%>">
                    <input type="text" id="typeText" class="form-control my-2" name="headset" placeholder="<%=rig.headset%>">
                    <input type="text" id="typeText" class="form-control my-2" name="crankset" placeholder="<%=rig.crankset%>">
                    <input type="text" id="typeText" class="form-control my-2" name="pedals" placeholder="<%=rig.pedals%>">
                </div>
                <div class="col col-6 px-2 py-2">
                    <input type="text" id="typeText" class="form-control my-2" name="cassette" placeholder="<%=rig.cassette%>">
                    <input type="text" id="typeText" class="form-control my-2" name="derailleur" placeholder="<%=rig.derailleur%>">
                    <input type="text" id="typeText" class="form-control my-2" name="brakes" placeholder="<%=rig.brakes%>">
                    <input type="text" id="typeText" class="form-control my-2" name="shifters" placeholder="<%=rig.shifters%>">
                    <input type="text" id="typeText" class="form-control my-2" name="saddle" placeholder="<%=rig.saddle%>">
                    <input type="text" id="typeText" class="form-control my-2" name="seatpost" placeholder="<%=rig.seatpost%>">
                    <input type="text" id="typeText" class="form-control my-2" name="stem" placeholder="<%=rig.stem%>">
                    <input type="text" id="typeText" class="form-control my-2" name="frontbag" placeholder="<%=rig.frontbag%>">
                    <input type="text" id="typeText" class="form-control my-2" name="framebag" placeholder="<%=rig.framebag%>">
                    <input type="text" id="typeText" class="form-control my-2" name="rearbag" placeholder="<%=rig.rearbag%>">
                </div>
                <div class="col d-flex flex-row justify-content-evenly mx-4 my-4">
                    <input type="submit" value="Update Rig" class="btn btn-warning btn-large shadow mx-2 px-5">
                </div>
                </form>
        </section>
        </div>
    </main>
    <!---------footer/animation---------> 
    <%- include('../partials/footer.ejs')%>
    <!---------footer/animation--------->  
</body>
</html>