<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
    <body>
        <!---------header/nav--------->
        <%- include('../partials/header.ejs')%>
        <!---------header/nav--------->
        <main>
            <h2>Featured Rigs</h2><br>
            <dd class="col-11 d-flex flex-row flex-wrap">
                <%rigs.forEach(rigs => { %>
                <li class="mx-3 card shadow d-flex align-items-center mb-4" style="width: 25%; max-width: 320px;">
                <a href="/rigs/<%=rigs._id%>">
                    <img class="card-img-top" src="<%=rigs.img%>">
                    <div class="d-flex flex-column align-items-center">
                        <h5 class="card-title rig-title text-center"><%=rigs.name%></a></h5>
                        <p class="card-text p-2 "><%=rigs.frame%> on some <%=rigs.tires%> and <%=rigs.derailleur%></p>    
                    </div>
                </li>
                <% }) %>
            </dd><br>
            <a href="rigs/new"><button class="btn btn-warning shadow-sm">Create a Rig</button></a><br>
        </main>
        <%- include('../partials/footer.ejs')%>
    </body>
</html>