<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main class="container">
        <div class="row col col-12">
        <section class="col-6 d-flex flex-wrap flex-column">
            <h1><%=rides.name%></h1>
            <dd>
                 <li class="rig-details">Route Name: <span class="specs"><%= rides.name %></span></li>
                 <li class="rig-details">Start: <span class="specs"><%= rides.start%></span></li>
                 <li class="rig-details">End: <span class="specs"><%= rides.end%></span></li>
                 <li class="rig-details">Distance: <span class="specs"><%= rides.distance%></span></li>
                 <li class="rig-details">Terrain: <span class="specs"><%= rides.terrain %></span></li>
                 <li class="rig-details">Description: <span class="specs"><%=rides.desc%></span></li>
            </dd>
        <div class="d-flex flex-row"> 
            <a href="/rides/<%= rides._id %>/edit"><button class="btn btn-warning px-4">Edit Ride</button></a>
            <form class="flex-row mx-4" action="/rigs/<%=rides._id%>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete Ride">
            </form>
        </div>
        </section>
        <section class="col-6 fluid">
            <img class="img-fluid shadow img-show" src="<%=rides.img%>">
        </section>
        </div>
    </main>
     <!---------footer/animation---------> 
     <%- include('../partials/footer.ejs')%>
     <!---------footer/animation---------> 
</body>
</html>