<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main>
        <h1><%=rides.name%></h1>
        <section>
            <h2>Ride Details:</h2>
            <ul>
                <li>Route Name: <%= rides.name %></li>
                <li>Start: <%= rides.start %></li>
                <li>End: <%= rides.end %></li>
                <li>Distance: <%= rides.distance %></li>
                <li>Terrain: <%= rides.terrain %></li>
                <img src="<%= rides.img %>">   
            </ul>
            <form action="/rides/<%=rides._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Rude">
            </form>
            <a href="/rides/<%= rides._id %>/edit">EDIT RIDE</a>
        </section>
    </main>
</body>
</html>